repos:
- repo: local
  hooks:
    - id: uv-sync
      name: uv-sync
      entry: uv sync
      language: system
      stages: [post-merge, post-checkout]
      always_run: true
      pass_filenames: false